[Unit]
Description=file watcher
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/nginx-pages/
ExecStart=/nginx-pages/watch.py

[Install]
WantedBy=multi-user.target
